*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body{
    background-color: rgb(255, 209, 216);
}

.container-fluid{
    margin-top: 10rem;
    text-align: center;
    justify-content:center;
    justify-items: center;
}

button{
    background-color: rgb(251, 150, 167) !important;
    color: white !important;
}

.yes2{
    background-color: rgb(255, 94, 121) !important;
}
.yes, .yes2{
    padding: 2rem !important;
    margin: .5rem;
}

.no{
    background-color: red !important;
}

.heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: heart-float 3s infinite linear;
}

@keyframes heart-float {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-100px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fadeAway2 {
    animation: fadeOutAnimation 1s ease forwards !important;
  }
  
  img{
    width: 100%;
    position: absolute;
    left: -0%;
    bottom: 30%;
    translate: transform(-50%, -50%);
  }